html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
 }

table, td, tr {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0px solid black;
}

h1 {
    color: #ffffff;
}