<!DOCTYPE html> 
<html> 
	<head> 
	<title>My map</title> 
        <link rel='stylesheet' type='text/css' href='/static/sdk/map.css'/> 
        <script src='/static/sdk/tomtom.min.js'></script> 
        <style>
          #map {
              height: 568px;
              width: 1000px;
          }
        </style>
    </head> 
    <body> 
        <div id='map'></div> 
        <script> 
            tomtom.L.map('map', {key: '8ZhrYsM5ZxzcZvD4NAwhs04AHWjQ814M'});
        </script> 
    </body>
</html>